@{
    ViewBag.Title = "";
}

@*START OF CARD 0*@

    <div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="~/images/8081867203_0f5b6c1d9d_o.jpg" alt="No Child Left Behind Logo">

        <div class="caption">
            <h3>No Child Left Behind Act</h3>
            <p> No Child Left Behind Act authorizes federal spending on programs to support K-12 schooling. </p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> Effect on Taxes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                           No known effects.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Environment
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            No known affects.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                <li>White House Warns that House Bill Means Education Cuts</li>
                                <li>Poorest school districts will see budget cuts while wealthier school districts get more money. 
                                This means money from poor school districts will transfer to the wealthy school districts.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <ul>
                            <li>Cuts might affect the National School Lunch Program and could cut or get rid of free lunch for your child.</li>
                            <li>Without proper nourishment, kids have a harder time learning and are sick more often.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 0*@

@*START OF CARD 1*@

    <div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="~/images/15833-an-african-american-man-receiving-a-vaccination-shot-from-his-doctor-pv_opt.jpg" alt="African American man receiving vaccination shot" />
        <div class="caption">
            <h3>Obamacare</h3>
            <p>Obamacare's goal is to make healthcare fees more affordable by basing fees on your income.</p>
            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> Effect on Taxes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Some economists believe it might increase taxes, others believe it won't. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Environment
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Obamacare has no direct effect on the environment.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Obamacare has no known direct effect on public education.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>
                            <li>Obamacare’s goal is to make health insurance affordable and is based on your annual income. Some people might pay $20 a month, others pay $250 a month.</li>
                            <li>It allows you and your children to see a doctor when you are sick without getting a large bill when you leave the office.</li>
                            <li>Some yearly exams are free.</li>
                            <li>Plans include: “ambulatory patient services; emergency services; hospitalization; maternity and newborn care; mental health and substance use disorder services, including behavioral health treatment; prescription drugs; rehabilitative and habilitative services and devices; laboratory services; preventive and wellness services and chronic disease management; and pediatric services, including oral and vision care.”</li>
                            <li><b>Note:</b> If you do not qualify for Medicaid, you must sign up for health insurance or will be fined by the government. However, there might be flexibility for people who can not have enough money to buy health insurance.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 1*@

@*START OF CARD 2*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="~/images/6127243966_0de6283cd8_o_opt.jpg" alt="Medicine Bottle on Table">
        <div class="caption">
            <h3>Medicaid</h3>
            <p> Medicaid is the largest source of funding for health-related services for people with low income.</p>
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> Effect on Taxes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            Taxes have not gone up since Governonr Kasich's decision to increase Medicaid funding.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Environment
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">

                           No known effects. 

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                        No known effects. 

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>

                            <li>You might not qualify for some Medicaid services.</li>
                            <li>It will be harder to get needed healthcare for you and your children.</li>
                            <li>Cuts might affect health programs for children.</li>
                            <li>It will be harder to get annual exams, which might tell you that you have an illness and need medication.</li>
                            <li>Your co-pays might go up.</li>
                            <li>It might be harder to afford your medicine.</li>
                            <li>You might have to find a new doctor.</li>
                            <li>Depending on where you live, you might not be able to get an annual exam at all.</li>
                            <li>It could affect if there will transportation services to the doctor’s office .</li>
                            <li>You might have to travel a long distance to see a doctor. This is an added time and money stress because you 
                            have to pay for transportation there and back and might have to take time off work without pay.</li>
                            <li>Cuts in Medicaid hurt doctors and hospitals ability to care for you and your family due to lack of money.</li>
                            <li>It might be harder to find a doctor who will accept Medicaid patients.</li>
                            <li>Cuts will weaken your support network because companies who help you will not be able to help as many people because 
                            they won’t have enough people and money.</li>
                            <li>Medicaid cuts negatively affect developmentally disabled people.
                            Examples are: money might be cut to organizations that help disabled people, such as counseling, 
                            transportation and self feeding.</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 2*@





@*START OF CARD 3*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="~/images/Governor_Delivers_Commencement_Address_at_the_University_of_Maryland_Graduation_Ceremony_(14096337249)_opt.jpg" alt="No Child Left Behind Logo">

        <div class="caption">
            <h3>Higher Education Act Title IV</h3>
            <p> Title IV covers the administration of the United States federal student financial aid programs.</p>
            <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> Effect on Taxes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            TBD @*need to return to this for taxes*@
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Environment
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            No known effects. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                <li>"The bill invests in high-quality early childhood care and education, provides programs that support working families, allows for an increase in the maximum Pell Grant award and number of recipients," Harkin said.</li>
                                <li>Pell Grants will give less money to students.</li>
                                <li>Cuts to student loans for low-income students make it harder for poor students to get out of poverty.</li>
                                <li>Fewer people will be able to get a Pell Grant.</li>
                                <li>Cuts will increase your debt if you decide to attend college.</li>
                                <li>Cuts will prevent laying people off from the lending institutions and keep the system moving smoothly for borrowers.</li>
                            </ul>
                     </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour3" aria-expanded="false" aria-controls="collapseFour3">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        To Be Determined. @*Fewer people who go to college increases lower wage jobs, which affects one's overall health. *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 3*@

@*START OF CARD 4*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="http://upload.wikimedia.org/wikipedia/en/8/8e/US_Labor_Force_and_Employment_Numbers_-_v1.png" alt="Workforce Graph 2009 Stats" />       <div class="caption">
            <h3>Labor and Employment</h3>
            <p> The current discussion includes equal pay for equal work, regular hours, increasing the minimum wage and more. </p>
            <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> Effect on Taxes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                           Not known at this time. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Environment
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            No known effects. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                <li>Equal pay for equal work, regular hours, universal child care, paid family medical leave might make it easier for 
                                some people to go to college.</li> 
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <ul>
                            <li>The community has an increased standard of living, which makes the community healthier.</li>
                            <li>With an increase in pay, kids are more likely to have food and will be healthier and able to learn.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 4*@

@*START OF CARD 5*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="http://www.durihana.com/photo/Europe/128.jpg" alt="Service Dog DisabilityLogo">
        <div class="caption">
            <h3>Federal Assistance Programs</h3>
            <p> Federal assistance programs help low-income people by providing money for housing, food, and education. </p>
            <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseOne5" aria-expanded="false" aria-controls="collapseOne5">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> Effect on Taxes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Taxes might be reduced.  
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Environment
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            No known effects.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                <li>Head Start programs services will see cuts, which will impact your child’s learning and future educational and work success.</li>
                                <li>Reading programs for low-income students will be cut.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapseFour5" aria-expanded="false" aria-controls="collapseFour5">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <ul>
                            <li>Federal housing assistance and community building programs will be cut. ; it will be harder to find an affordable 
                            place to live. Possibly more people will live on the streets or in shelters.</li>
                            <li>Social Security will give less money to retirees and disabled people who will 
                            struggle more with paying bills and buying food.</li>
                            <li>Supplemental Nutritional Assistance Programs (SNAP) will see cuts making it more difficult to feed your family. </li>
                            <li>Cuts in SNAP program will affect food for seniors, veterans and the poor. You will either lose all money or have less money for food.
                            <li>Food Banks will have a harder time feeding all those in need of food.</li>
                            <li>There will be cuts to welfare. You will receive less money, which impacts your ability to pay for food, rent, and other basic needs.</li>
                            <li>Cuts will limit how many people can get job retraining.</li>
                            <li>Science research funds will be cut, hurt progress of projects and employees will lose jobs.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 5*@

@*START OF CARD 6*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/b/b9/Unison_strike_rally_Oxford_20060328.jpg" alt="Union Rally Logo">
        <div class="caption">
            <h3>Ohio Workplace Freedom</h3>
            <p> "Guarantees" the freedom of Ohioans to choose whether to participate in a labor organization as a condition of employment. </p>
            <div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseOne6" aria-expanded="false" aria-controls="collapseOne6">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> More Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                     <ul>
                         <li>Prohibits the requirement that any person or employer become or remain a member of a labor organization</li>
                         <li>Prohibits the requirement that any person or employer pay dues, fees, assessments or other charges to a labor organization as a condition of employment</li>
                         <li>Allows any person affected or threatened by a violation of this section to bring civil action to enforce this section</li>
                     </ul>
                                     </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseTwo6" aria-expanded="false" aria-controls="collapseTwo6">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Your Community
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <li>If it passes, you don’t have to join the union and pay dues. </li>
                                <li>However, by not joining the union, this weakens the union.</li>
                                <li>When the union is weakened, it will have less power to negotiate fair wages and healthy benefits. </li>
                            </ul>
                         </div>
                    </div>
                </div>
                @*<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                        <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
                    </a>
                </h4>
            </div>
            <div id="collapseThree6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion6" href="#collapseFour6" aria-expanded="false" aria-controls="collapseFour6">
                    <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                </a>
            </h4>
        </div>
        <div id="collapseFour6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>*@
            </div>
        </div>
    </div>
</div>

@*END OF CARD 6*@

@*START OF CARD 7*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/55/How_to_Steal_an_Election_-_Gerrymandering.svg/1280px-How_to_Steal_an_Election_-_Gerrymandering.svg.png" alt="Redistricting Explanation ColorCoded Logo">
        <div class="caption">
            <h3>Ohio Bipartisan Redistricting</h3>
            <p> Redistricting, or gerrymandering, is changing voting boundaries so one political party does better than another.

  </p>
            <div class="panel-group" id="accordion7" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapseOne7" aria-expanded="false" aria-controls="collapseOne7">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> More Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Because Ohio legislature is 70% Republican, making new lines will give the Republican Party more power. 
                            This will help the Republicans to win more seats and make more laws. 
                            
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapseTwo7" aria-expanded="false" aria-controls="collapseTwo7">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Community
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <li>Redistricting could affect your right to vote (Poll Tax Proposal).</li>
                                <li> Republicans have historically cut social services.</li>
                                <li>This will limit money for programs such as housing vouchers, SNAP, welfare, Women Infant and Children, and Medicaid.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-default">
                   <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
        <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
    </a>
                        </h4>*@
                    </div>
                   @* <div id="collapseThree7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapseFour7" aria-expanded="false" aria-controls="collapseFour7">
                    <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                </a>
            </h4>
        </div>
        <div id="collapseFour7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

@*END OF CARD 7*@

@*START OF CARD 8*@

<div class="col-sm-4 col-xs-12 col-md-4 item col-lg-4">
    <div class="thumbnail">
        <img id="thumbPic" class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/f/f5/Pro-Life_Demonstration_at_Supreme_Court.jpg" alt="Ppl Capitol Steps for Personhood Logo">
        <div class="caption">
            <h3>Ohio Personhood</h3>
            <p> Personhood defines "person" and "men" to include every human being at every stage of biological development, 
            including fertilization. </p>
            <div class="panel-group" id="accordion8" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion8" href="#collapseOne8" aria-expanded="false" aria-controls="collapseOne8">
                                <img id="icon" src="~/fonts/Dollar-128.png" /> More Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            *It states that life begins with fertilization and it intends to ban almost all abortions, 
                            even in cases of rape and incest. Many physicians have said the measures could make some birth control illegal and deter in vitro fertilization.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion8" href="#collapseTwo8" aria-expanded="false" aria-controls="collapseTwo8">
                                <img id="icon" src="~/fonts/Leaf-128.png" /> Effect on Your Community
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <li>The government is inserting itself into your life by making personal decisions for your family.</li>
                                <li>A woman who has a miscarriage could be charged with murder.</li>
                                <li>You will no longer be able to get an abortion if this is what you choose to do.</li>
                                <li>You might not be able to get birth control.</li>
                                <li>You won’t be able to decide if you have children, plan when you have children, and how many children you want to have.</li>
                            </ul>
                        </div>
                    </div>
                </div>
               @* <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                       <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion8" href="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                <img id="icon" src="~/fonts/Graduate-Hat-128.png" /> Effect on Public Education
            </a>
        </h4>
    </div>
    <div id="collapseThree8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
                    </div>
                </div>*@
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion8" href="#collapseFour8" aria-expanded="false" aria-controls="collapseFour8">
                            <img id="icon" src="~/fonts/Caduceus-128.png" />  Effect on Public Health
                        </a>
                    </h4>
                </div>
                <div id="collapseFour8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <ul>
                            <li>This could increase women's mortality rate because women might seek illegal abortions.</li>
                            <li>If a woman miscarries, she might not seek medical care for fear of being charged with a crime, and this would put her health at risk.</li>
                            </ul>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END OF CARD 8*@
  


