@*REGISTER TO VOTE SECTION*@
<div class="allRegContainer">
    <div id="Register" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Register to Vote</h3>
            </div>
            <div class="panel-body">
                Want to vote? First step, register now. Right now.

                <p id="b1"><a target="_blank" href="http://boe.cuyahogacounty.us/pdf_boe/en-US/Voter_regcard.pdf" class="btn btn-primary" role="button">Register</a></p>

            </div>
        </div>
    </div>

    @*CHECK REGISTRATION INFORMATION SECTION*@

    <div id="CheckReg" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Check Your Registration Info</h3>
            </div>
            <div class="panel-body">
                Not sure if your voter registration is up-to-date? Check your info online.
                <p id="b2"><a target="_blank" href="http://boe.cuyahogacounty.us/en-US/my-voting-information.aspx" class="btn btn-primary" role="button">Check Registration</a></p>

            </div>
        </div>
    </div>

    @*UPDATE NAME SECTION*@
    <div id="UpdateName" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update Your Name</h3>
            </div>
            <div class="panel-body">
                So, you changed your name. Cool! And you want to vote? Dope. But first you need to update your name on your voter registration. You can do that right here.
                <p id="b3"><a target="_blank" href="http://boe.cuyahogacounty.us/pdf_boe/en-US/Voter_regcard.pdf" class="btn btn-primary" role="button">Update Name</a></p>

            </div>
        </div>
    </div>

    @*UPDATE ADDRESS SECTION*@
    <div id="UpdateAdd" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update Your Address</h3>
            </div>
            <div class="panel-body">
                Congrats on your move! Now, update your address. It'll only take a second.
                <p id="b4"><a target="_blank" href="https://olvr.sos.state.oh.us/ovru/ModifyAddress.aspx" class="btn btn-primary" role="button">Online</a><a target="_blank" href="http://www.sos.state.oh.us/sos/upload/elections/forms/4010.pdf" class="btn btn-default" role="button">By Mail</a></p>

            </div>
        </div>
    </div>
</div>